
.gallery {

  & div{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
  }

  & figure {

    height: 350px;
    margin: 0;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    color: LightGray;
    flex: 1 1 100%;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;

      & label {

        transform:skew(0);
        line-height: 2rem;
        position: absolute;
        display: flex;
        background-color: rgba(0,0,0,0.9);
        z-index: 2;
        overflow: hidden;
        width: 95%;
        font-size: 2px !important;
        padding: 0 5rem 0 3rem;

      }

      & img {
        display: block;
        width:120%;
        margin:0 -10%;
        bottom: 0;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        transition: 1s;
        object-position:center center;
      }

      & p {
        display: none;
      }

      & a {
        display: none;
        margin: 2rem 0 2rem 0;
      }

    &:hover {
      & img {

      }

      & label {


            display: flex;
            background-color: rgba(0,0,0,0.9);
            z-index: 2;
            overflow: hidden;
            width: auto;
            font-size: 2px !important;
            padding: 0 5rem 0 3rem;

            transform:skew(0);
            line-height: 2rem;
            position: relative;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            z-index: 10;
            height: 100%;


      }
      & a {
        display: block;
      }
      & p {
        display: block;
        margin: 0 0 2rem 0;
        padding: 0rem 0;
        line-height: 2rem;
        top: 0%;
      }

    }
  }

}



@media (min-width: 1080px) {


  .gallery {

    & div{

    }

    & figure {

      color: LightGray;
      flex: 1 0 45%;
      transform:skew(-15deg);
      margin: 1rem;
      height: 40rem;


        & label {

          transform:skew(0);
          line-height: 2rem;
          position: absolute;
          top: 0;
          display: flex;
          background-color: rgba(0,0,0,0.9);
          z-index: 99;
          width: 100%;
          font-size: 2px !important;
          padding: 0 5rem 0 3rem;


        }

        & img {

          transform:skew(15deg);

        }


        &:hover{

          & img {

            transform:scale(1.3) skew(15deg);

          }

          & label {

            transform:skew(0);
            line-height: 2rem;
            position: absolute;
            bottom: 0;
            z-index: 99;
            height: 100%;


          }

          & p {

            padding: 1rem 0;
            position: absolute;
            line-height: 2rem;
            top: 30%;

          }


        }

      }

  }



}
