@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Poppins&display=swap');

@font-face {
  font-family: "wof";
  src: url("../../public/fonts/wof.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

$color-red: #1adad0;
$color-black: #000000;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Sans-Serif;
  color: #2c2c2d;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;

  & :hover {
    color: #fc421a;
  }
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4 {
  font-family: Poppins, Helvetica, Sans-Serif;
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
  font-size: 0;
}
