@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Sans-Serif;
  color: #2c2c2d;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4 {
  font-family: Poppins, Helvetica, Sans-Serif;
}