.header {
    border-bottom: 1px solid #292929;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 20;
    font-family: Poppins, Helvetica, Sans-Serif;
}

.header h1 {
    font-size: 3.4rem;
    margin: 1rem 0;
}

.header h3 {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.header a {
    font-size: 1.5rem;
    margin: 1rem 1rem;

}

.header .title {
    font-size: 2rem;
    margin: 1rem 0;
}

.header > div {
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem 1rem;
}
