.header {
    border-bottom: 1px dashed #292929;
    position: sticky;
    padding: 0 0 0 2%;
    top: 0;
    background: #fff;
    z-index: 20;
    font-family: wof, Poppins, Helvetica, Sans-Serif;

}

.header h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    color: white;
    background: #000000;
    background: -moz-linear-gradient(90deg, #000000 38%, #000000 100%);
    background: -webkit-linear-gradient(90deg, #000000 38%, #000000 100%);
    background: linear-gradient(90deg, #000000 38%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfff60",endColorstr="#00dfb2",GradientType=1);
    background-size: cover;
    width: 100%;
    font-family: wof;
    animation: headM 10s ease-in-out infinite;
    clip-path: path('
        M3000.10 0 c0.348 2 -5.661 3.723 -20 5 c-10.348 0 -10 5.723 -30 5 c-10.348 -1 -20 2.723 -100 -2 C200.842 1000.029-0.543 0 0 0z
      ');
    &:hover {
      cursor: cell;
    }
}


@keyframes headM {
  0%   { clip-path: path('
    M3000.10 0 c0.348 2 -5.661 3.723 -20 5 c-10.348 0 -10 5.723 -30 5 c-10.348 -1 -20 2.723 -100 -2 C200.842 1000.029-0.543 0 0 0z
    '); }
  10%   { clip-path: path('
    M10000.10 0 c0.348 2 -10.661 10.723 -10 5 c-20.348 0 -10 20.723 -30 5 c-10.348 -1 -40 100.723 -200 -300 C400.842 2000.029-10.543 10 5 0z
    '); }
  22%  { clip-path: path('
      M50000.10 0 c10.348 2 -5.661 50.723 -20 5 c-100.348 0 -10 50.723 -90 5 c-10.348 -1 -70 200.723 -600 -100 C300.842 3000.029-30.543 100 10 0z
    '); }
  40%  { clip-path: path('
    M3000.10 0 c10.348 2 -5.661 60.723 -20 5 c-80.348 0 -10 100.723 -1000 5 c-10.348 -1 -700 10.723 -300 -2 C5000.842 2000.029-10.543 300 5 0z
    '); }
  60% { clip-path: path('
    M3000.10 0 c30.348 2 -5.661 30.723 -20 5 c-50.348 0 -10 5.723 -30 5 c-10.348 -1 -100 2.723 -250 -2 C300.842 4000.029-0.543 100 15 0z
    '
    ); }
  80% { clip-path: path('
    M3000.10 0 c10.348 2 -5.661 3.723 -20 5 c-20.348 0 -10 5.723 -30 5 c-10.348 -1 -20 2.723 -100 -2 C200.842 2000.029-0.543 20 10 0z
    '
    ); }
  100% { clip-path: path('
    M3000.10 0 c0.348 2 -5.661 3.723 -20 5 c-10.348 0 -10 5.723 -30 5 c-10.348 -1 -20 2.723 -100 -2 C200.842 1000.029-0.543 0 0 0z
    '
    ); }
}

.header h3 {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.header a {
    font-size: 1.5rem;
    margin: 0rem 0rem;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      transform: rotate(45deg);
      transition: 0.2s;
      cursor:  help;
    }
}

.header path {
    width: 600px;
    animation: morph 10s ease-in-out infinite;
    transform-origin: 50% 50%;
    // transform: translate(-50%,-50%);
}

.header .title {
    font-size: 3rem;
    margin: 0 0;

}

.header > div {
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.4rem 1rem;
    color: white;

}

.header > div a {
    margin: 0.1rem 0.1rem;
}




@media (min-width: 1080px) {


  .header h1 {
      font-size: 3.4rem;
  }

  .header > div a {
      margin: 1rem 1rem;

  }

  .header > div {
    font-size: 3rem;
    right: 10rem;

  }

}
