.post {
    display: flex;
    cursor: pointer;
    margin-bottom: 3rem;
}

.postImg {
    width: 10rem;
    height: 10rem;
    margin-right: 1.4rem;
}

.postImg img {
    width: 10rem;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.postInfo h3{
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.postInfo > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.postInfo > div time {
    font-size: 1.4rem;
    color: #797c81;
    margin-right: 0.5rem;
}
